#Backend
backend/keys.js
node_modules/
#Frontend
.dart_tool/
.packages
build/
pubspec.lock
doc/api/
.env*
frontend/*.dart.js
frontend/*.info.json 
frontend/*.js        
*.jks
frontend/*.js_
frontend/*.js.deps
frontend/*.js.map

frontend/android

.flutter-plugins
.flutter-plugins-dependencies