#Backend
/node_modules
backend/keys.js
#Frontend
.dart_tool/
.packages
build/
pubspec.lock
doc/api/
.env*
frontend/*.dart.js
frontend/*.info.json 
frontend/*.js        
            
frontend/*.js_
frontend/*.js.deps
frontend/*.js.map

.flutter-plugins
.flutter-plugins-dependencies